html{
    background-color: rgb(41, 41, 41);
    font-family: sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    }
    
    /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #62a0ea;
        border-bottom: white 2px solid;
    }
    
    /* Add a color to the active/current link */
.topnav a.active {
    background-color: #26a269;
    padding: 13px 15px;
    border: white 2px solid;
}

h1 {
    color: white;
    text-align: center;
}

h1:hover{
    color: lightgray;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

p:hover{
    color: lightgray;
}
